/* Importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Resetando pré definições */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Declaração de fontes e paleta de cores */
:root {
  --fontPrincipal: "Lato", sans-serif;
  --fontSecundaria: "Fondamento", cursive;
  --corPrimaria: #000000;
  --corSecundaria: #ff5400;
  --corTerciaria: #f4edea;
  --corQuaternaria: #ffdbb5;
}

body {
  background-color: var(--corTerciaria);
  width: 100%;
  height: 100vh;
}

/* Cabeçalho de navegação - header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fcd49a;
}

#header-navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}

#header-navegation #header-navegation-links {
  width: 550px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-navegation img {
  width: 60px;
  height: 50px;
}

#header-navegation #header-navegation-links a {
  font-size: 22px;
  text-decoration: none;
  color: var(--corPrimaria);
  font-family: var(--fontPrincipal);
}

#header-navegation #header-navegation-links span a {
  color: var(--corSecundaria);
}

#header-navegation-links a:hover {
  border-bottom: 1px solid var(--corSecundaria);
}

/* Conteúdo principal do site - main*/
#container-mainPrincipal {
  width: auto;
  height: 582px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -40px;
}

#container-mainPrincipal #main-conteudo {
  width: 650px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 65px;
  font-family: var(--fontSecundaria);
}

#container-mainPrincipal #main-conteudo #main-paragrafo {
  font-size: 25px;
  text-align: justify;
  font-family: var(--fontPrincipal);
}

#container-mainPrincipal #main-conteudo #main-paragrafo span {
  display: flex;
  align-items: center;
  justify-content: center;
} 

#container-mainPrincipal #main-conteudo #main-button {
  width: 200px;
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  color: white;
  background-color: var(--corSecundaria);
  cursor: pointer;
}

#container-mainPrincipal #main-conteudo #main-button:hover {
  background-color: #f13c0f;
}

/* box da imagem do naruto - main */
#main-boxImg {
  width: 600px;
  height: 500px;
  margin-top: 70px;
  margin-right: 100px;
}

#main-boxImg img {
  width: 600px;
  height: 500px;
}

/* Section dos pratos principais - section 01 */
.container-sessoes {
  width: auto;
  height: 674px; 
  margin-bottom: -40px;
}

.container-sessoes .box-titulo {
  margin-top: 40px;
  margin-bottom: 20px;
}

.container-sessoes .section-menuSubtitulo {
  font-size: 48px;
  text-align: center;
  font-family: var(--fontPrincipal);
  font-weight: bold;
}

.container-sessoes #section-paragrafoPratos {
  font-size: 32px;
  text-align: center;
  font-family: var(--fontPrincipal);
}

.container-sessoes #section-paragrafoPratos span {
  color: var(--corSecundaria);
}

/* Box das imagens do menu dos pratos */
.container-sessoes #box-menuPratos {
  height: 440px;
}

/* box dos pratos da sessão */
.container-sessoes #box-menuPratos #box-imgPratos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 60px;
}

/* box dos pratos imagens */
.container-sessoes #box-menuPratos #box-imgPratos img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.container-sessoes #box-menuPratos #box-imgPratos .box-imgParagrafos {
  display: flex;
  flex-direction: column;
  transition: 1.2s;
}

.container-sessoes #box-menuPratos #box-imgPratos .box-imgParagrafos p {
  text-align: center;
}

.container-sessoes #box-menuPratos #box-imgPratos .box-imgParagrafos:hover {
  transform: translateY(-10%);
  transition: 1.2s;
  filter: drop-shadow(0 0 10px #000000);
}

/* Section falando dos pratos - sessão 02 */
.container-sessoes .box-titulo .section-menuSubtitulo span {
  color: var(--corSecundaria);
}

#container-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

#container-feedback .box-sobrefeedback {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 900px;
  padding: 10px;
  height: 180px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
}

#container-feedback .box-sobrefeedback .icon-feeback {
  width: 120px;
  height: 150px;
}

.box-feedbackParagrafos {
  font-size: 18px;
  text-align: center;
}

/* Rodapé do site */
footer {
  background-color: rgb(51, 50, 50);
  height: 55px;
}

footer p {
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 18px;
}

/* Responsivo */
/* Telas de 1440px */
@media screen and (max-width: 1440px) {
/* Conteúdo principal do site - main*/
#container-mainPrincipal #main-conteudo {
  margin-top: 60px;
}

#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 50px;
}

/* box da imagem do naruto - main */
#main-boxImg {
  width: 600px;
  margin-right: 10px;
}

/* Section dos pratos principais - section 01 */
.container-sessoes .section-menuSubtitulo {
  font-size: 45px;
}
}

/* Telas de 1024px */
@media screen and (max-width: 1024px) {
/* Conteúdo principal do site - main*/
#container-mainPrincipal {
  height: 600px;
}

#container-mainPrincipal #main-conteudo {
  width: 520px;
  height: 300px;
  margin-left: 10px;
}
#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 40px;  
}

#container-mainPrincipal #main-conteudo #main-paragrafo {
  font-size: 20px;
}

/* box da imagem do naruto - main */
#main-boxImg {
  width: 450px;
  height: 500px;
  margin-right: 10px;
}

#main-boxImg img {
  width: 450px;
  height: 500px;
}
}

/* Telas de 834px */
@media screen and (max-width: 834px) {
/* Navegação dos links cabeçalho */
#header-navegation #header-navegation-links {
  width: 400px;
}

/* Conteúdo principal do site - main*/
#container-mainPrincipal {
  height: 550px;
}

#container-mainPrincipal #main-conteudo {
  width: 400px;
  height: 350px;
}

#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 35px;  
}

#container-mainPrincipal #main-conteudo #main-paragrafo {
  font-size: 20px;
}

/* box da imagem do naruto - main */
#main-boxImg {
  width: 380px;
  height: 350px;
  margin-right: 10px;
}

#main-boxImg img {
  width: 380px;
  height: 350px;
}

/* Section dos pratos principais - section 01 */
.container-sessoes {
  width: auto;
  height: 620px; 
}

.container-sessoes .section-menuSubtitulo {
  font-size: 35px;
}

.container-sessoes #section-paragrafoPratos {
  font-size: 28px;
}

/* Box das imagens do menu dos pratos */
.container-sessoes #box-menuPratos {
  height: 440px;
}

/* box dos pratos imagens */
.container-sessoes #box-menuPratos #box-imgPratos img {
  width: 260px;
  height: 300px;
}

/* Section falando dos pratos - sessão 02 */
#container-feedback .box-sobrefeedback {
  width: auto;
  height: auto;
  margin: 20px;
}

#container-feedback .box-sobrefeedback .icon-feeback {
  width: auto;
  height: 150px;
}

.box-feedbackParagrafos {
  font-size: 20px;
}
}

/* Telas de 765px */
@media screen and (max-width: 768px) {
/* Conteúdo principal do site - main*/
#container-mainPrincipal {
  height: 550px;
}

#container-mainPrincipal #main-conteudo {
  width: 360px;
  height: 400px;
}

#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 30px;  
}

#container-mainPrincipal #main-conteudo #main-paragrafo {
  font-size: 18px;
  margin-bottom: -20px;
}

/* box da imagem do naruto - main */
#main-boxImg {
  width: 360px;
  height: 350px;
}

#main-boxImg img {
  width: 360px;
  height: 350px;
}

/* Section dos pratos principais - section 01 */
.container-sessoes .section-menuSubtitulo {
  font-size: 30px;
}

.container-sessoes #section-paragrafoPratos {
  font-size: 28px;
}

/* Box das imagens do menu dos pratos */
.container-sessoes #box-menuPratos {
  height: 440px;
}

/* box dos pratos imagens */
.container-sessoes #box-menuPratos #box-imgPratos img {
  width: 240px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}
}

/* Telas de 428px */
@media screen and (max-width: 428px) {
/* Cabeçalho de navegação - header */
#header-navegation {
  padding: 0px 10px;
}

#header-navegation #header-navegation-links {
  width: 350px;
}

#header-navegation #header-navegation-links a {
  font-size: 20px;
}
/* Conteúdo principal do site - main*/
#container-mainPrincipal {
  height: 800px;
  flex-direction: column;
}

#container-mainPrincipal #main-conteudo {
  margin-top: 100px;
  width: 360px;
  height: 300px;
}

#container-mainPrincipal #main-conteudo #main-tituloPrincipal {
  font-size: 35px;  
}

#container-mainPrincipal #main-conteudo #main-paragrafo {
  font-size: 18px;
  margin-bottom: -20px;
}

/* box da imagem do naruto - main */
#main-boxImg {
  display: block;
  width: 350px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#main-boxImg img {
  width: 350px;
  height: 320px;
}

/* Section dos pratos principais - section 01 */
#container-pratos {
  height: 870px;
}

.container-sessoes .section-menuSubtitulo {
  font-size: 30px;
}

.container-sessoes #section-paragrafoPratos {
  font-size: 20px;
}

/* Box das imagens do menu dos pratos */
.container-sessoes #box-menuPratos {
  height: 740px;
}

/* box dos pratos imagens */
.container-sessoes #box-menuPratos #box-imgPratos {
  flex-direction: column;
  gap: 25px;
} 

.container-sessoes #box-menuPratos #box-imgPratos img {
  width: 220px;
  height: 200px;
  margin-top: -10px;
}

/* Section falando dos pratos - sessão 02 */
#container-feedbackgeral {
  height: 900px;
}

#container-feedbackgeral #container-feedback {
  height: 740px;
}

#container-feedback .box-sobrefeedback {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-feedback .box-sobrefeedback {
  width: auto;
  height: 340px;
  margin: 20px;
}

#container-feedback .box-sobrefeedback .icon-feeback {
  width: auto;
  height: 150px;
}

.box-feedbackParagrafos {
  font-size: 18px;
}

footer {
  margin-top: 40px;
}

}
